@import '@fontsource/fira-mono';
@import '@fontsource/roboto';
@import '@fontsource/open-sans';

@import './lib/scss/themes.scss';
@import './lib/scss/breakpoints.scss';
@import './lib/scss/variables.scss';
@import './lib/scss/mixins.scss';
@import './lib/scss/base.scss';

:root {
	font-family: var(--default-font), -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: inherit;

	--font-mono: var(--mono-font), monospace;
	--pure-white: #ffffff;
	--accent-color: #ff3e00;
	--background-without-opacity: rgba(255, 255, 255, 0.7);
	--column-width: 42rem;
	--column-margin-top: 4rem;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {

	transition: all .4s ease;
	scroll-behavior: smooth;
	min-height: 100vh;
	margin: 0;
	background: var(--page-background-color);
	//linear-gradient(
	//								180deg,
	//								var(--page-background-color) 0%,
	//								var(--secondary-color) 10.45%,
	//								var(--tertiary-color) 41.35%
	//);
	//overflow-x: hidden;
	color: var(--text-color);
	fill: var(--text-color);
	font-size: 18px;
	box-sizing: border-box
}


#svelte {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

a {
	text-decoration: none;
	&:hover {
		color: fuchsia;
	}
}


pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	//overflow-x: auto;
	color: var(--text-color);
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}

#tsparticles {
	margin: 0;
	padding: 0;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -1;
}

html{
	//-webkit-box-sizing: border-box;
	//-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*, *:before, *:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
	//outline: solid 1px red;
}
